PORT=8000
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/?appName=ai-db
AVALANCHE_RPC=https://api.avax.network/ext/bc/C/rpc
SNOWTRACE_API_KEY=
GROQ_API_KEY=gsk_your_key_here
COVALENT_API_KEY=cqt_your_key_here
